section {
    padding: 5%;
}
section .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section .list .box {
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 2px 3px 10px rgba(153, 153, 153, 0.272);
    min-width: 320px;
}
@media (max-width: 400px) {
    section .list .box {
        width: 90%;
        margin: auto;
    }
}